.lyft-background{
	background-image: url(../img/driving-lyft.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center 50%;
}
.responsive-img{
	width: 50%;
	height: 100%;
	min-width: 20%;
	margin-top: 20%;
}
.boton{
	margin-top: 50%;
}
.btn{
	text-transform: none;
}

